{% extends "base.html" %}
{% block content %}
        <!--========== PROMO BLOCK ==========-->
        <div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url('/static/img/team/space.jpg');">
            <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">

                    <div class="container g-text-right--xs g-ver-center--xs">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-5">
                                <div class="g-margin-b-50--xs">
                                    <h2 class="text-none g-font-size-32--xs g-font-size-45--sm g-font-size-50--md g-color--white">Хьюстон, где мы?</h2>
                                </div>
                                <a href="{{url_for("index")}}" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-20--xs">На главную!</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->


{% endblock %}
