{% extends "base.html" %}
{% block content %}
        <!--========== PROMO BLOCK ==========-->
        <div class="s-promo-block-v3 g-bg-color--dark g-bg-position--center g-fullheight--sm g-fullheight--md">
            <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">

                    <div class="container g-text-right--xs g-ver-center--xs">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-1">
                                <div class"g-margin-t-140--sm">
                                    <h2 class="text-none g-font-size-25--xs g-font-size-32--sm g-font-size-40--md g-color--white">Чёрт возьми! Кто выключил свет?<br />Что-то пошло не так...<br />Мы уже пытаемся это исправить.</h2>
                                </div>
                                <a href="{{url_for("index")}}" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-20--xs">На главную!</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->


{% endblock %}
