{% extends "base.html" %}
{% block content %}
        <!--========== PAGE CONTENT ==========-->
        <!-- Feedback Form -->
        <div class="g-position--relative g-bg-color--primary">
            <div class="g-container--md g-padding-y-150--xs">
                <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
                    <h2 class="text-none g-font-size-32--xs g-font-size-36--sm g-color--white">Я не знаю, зачем таким "Утилитам" граф интерфейс!</h2>
                </div>


            </div>
        </div>
        <!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->

{% endblock %}
