{% extends "base.html" %}
{% block content %}
<div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url('static/img/donate/cat.jpg');">
    <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">
        <div class="g-margin-t-30--xs g-margin-t-0--sm g-margin-b-30--xs g-margin-b-70--md">
             <div class="g-box-shadow__dark-lightest-v1 col-lg-4 col-sm-4 g-hor-centered-row__col">
                <form class="center-block g-width-350--xs g-bg-color--white-opacity-lightest g-padding-x-40--xs g-padding-y-50--xs g-radius--4" method="post" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <div class="g-text-center--xs g-margin-b-40--xs">
                        <h2 class="g-font-size-26--xs g-color--white">Пожертвовать</h2>
                    </div>
                    <div class="g-margin-b-30--xs">
                        <input type="number" name="sum" class="form-control s-form-v3__input" placeholder="* Сумма ₽">
                    </div>
                    <div class="g-margin-b-30--xs">
                        <textarea class="form-control s-form-v3__input" name="comment" rows="5" placeholder="Сообщение"></textarea>
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Пожертвовать!</button>
                    </div>
                    <input type="hidden" name="targets" value="На развитие проекта.">
                    <input type="hidden" name="quickpay-form" value="donate">
                    <input type="hidden" name="receiver" value="410014848709928">
                    <input type="hidden" name="need-fio" value="false">
                    <input type="hidden" name="need-email" value="true">
                    <input type="hidden" name="need-phone" value="false">
                    <input type="hidden" name="need-address" value="false">
                    <input type="hidden" name="paymentType" value="AC">

                </form>
            </div>

        </div>

    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
{% endblock %}
