
{% extends "base.html" %}
{% block content %}
<link href="/static/css/table/dmitrycpp.css" rel="stylesheet" type="text/css"/>
<div class="about_mark g-fullheight--md">
    <div class="container g-ver-center--md g-padding-y-125--xs">
        <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
             <div class="col-lg-6 col-sm-6 g-hor-centered-row__col">
                <div class="center-block g-width-330--xs g-bg-color--white-opacity-lightest g-padding-x-40--xs g-padding-y-50--xs g-radius--4">
                    <div class="g-text-center--xs g-margin-b-40--xs">
                        <form enctype="multipart/form-data" method="post" action="">
                            {{form.hidden_tag()}}
                            {{form.csrf_token}}
                            <button type="submit" class="dcp" style="float: right">
                                <i class="g-font-size-22--xs g-color--white ti-check"></i>
                            </button>
                            <h2 class="g-font-size-26--xs g-color--white">Метка {{mark.id}}</h2>
                            <br \>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">ID: {{mark.id}}.</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Название: {{form.title(class_="form-control s-form-v3__input", value=mark.title)}}</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Сайт: {{form.site(class_="form-control s-form-v3__input", value=mark.site)}}</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Иконка: {{form.img(class_="form-control s-form-v3__input", value=mark.img)}}</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Видео: {{form.video(class_="form-control s-form-v3__input", value=mark.video)}}</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Просмотры: {{mark.views}}.</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Время создания: {{momentjs(mark.creation_time).calendar()}}.</h2>
                            <h2 class="g-font-size-16--xs g-color--white" style="text-align: left; text-transform: none">Владелец: {{mark.user.name}} ({{mark.user.username}}).</h2>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 g-hor-centered-row__col">
                <div class="center-block g-width-330--xs g-bg-color--white-opacity-lightest g-padding-y-70--xs g-radius--4">
                    <div class="g-text-center--xs">
                        <img width="300" src="{{url_for('print_small_mark', mark_id = mark.id)}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
