{% extends "base.html" %}
{% block content %}
    <div class="s-promo-block-v1 g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
        <div class="container g-ver-center--md g-padding-y-100--xs">
            <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
                <div class="col-lg-6 col-sm-6 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                        <h1 class="text-none g-font-size-30--xs g-font-size-40--sm g-font-size-45--lg g-color--white">Каждый день восстанавливается 100.000+ паролей.</h1>


                </div>

                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-4 g-hor-centered-row__col">
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                        <form class="center-block g-width-330--xs g-bg-color--white-opacity-lightest g-box-shadow__blueviolet-v1 g-padding-x-40--xs g-padding-y-60--xs g-radius--4" enctype="multipart/form-data" method="post" action="">
                            {{form.hidden_tag()}}
                            {{form.csrf_token}}
                            <div class="g-text-center--xs g-margin-b-30--xs">
                                <h2 class="text-none g-font-size-26--xs g-color--white">Изменить пароль</h2>
                            </div>

                            <div class="g-margin-b-30--xs">
                                {{form.password(class_="form-control s-form-v3__input")}}
                            </div>
                            <div class="g-margin-b-30--xs">
                                {{form.password_conf(class_="form-control s-form-v3__input")}}
                            </div>
                            <div class="g-text-center--xs">
                                <button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Изменить!</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
