{% extends "base.html" %}
{% block content %}
    <div class="g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
        <div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-margin-t-140--xs g-margin-b-40--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Восстановление пароля</p>
                <h2 class="text-none g-font-size-32--xs g-font-size-36--sm g-letter-spacing--1 g-color--white">Каждый день восстанавливается 100.000+ паролей.</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <form class="input-group" method="post" action="" enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        {{form.csrf_token}}
                        {{form.login(class_="form-control s-form-v1__input g-radius--left-50")}}
                        <span class="input-group-btn">
                            <button type="submit" class="s-btn s-btn-icon--md s-btn-icon--white-brd s-btn--white-brd g-radius--right-50"><i class="ti-arrow-right"></i></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
