{% extends "base.html" %}
{% block content %}
        <!--========== PROMO BLOCK ==========-->
        <div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url('static/img/team/space.jpg');">
            <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">

                    <div class="container g-text-right--xs g-ver-center--xs">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-5">
                                <div class="g-margin-b-140--xs">
                                    <h2 class="text-none g-font-size-32--xs g-font-size-45--sm g-font-size-50--md g-color--white">Креативная команда!</h2>
                                </div>
                                <a href="#teamm" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-20--xs">Познакомиться!</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <div class="container g-padding-y-80--xs g-padding-y-125--sm" id="teamm">
            <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
                <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="static/img/team/irina.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8 g-hor-centered-row__col">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Руководитель</p>
                    <h2 class="g-font-size-24--xs g-font-size-36--sm g-margin-b-25--xs">Ирина Горбацевич</h2>
                    <p class="g-font-size-18--sm">За этими ребятами &ndash; будущее!</p>
                </div>
            </div>

            <div class="row g-hor-centered-row--md g-row-col--5">
                <div class="col-sm-3 col-xs-6 col-sm-push-9 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="static/img/team/vlad.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8 col-sm-pull-4 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Java-программист</p>
                    <h2 class="g-font-size-24--xs g-font-size-36--sm g-margin-b-25--xs">Владислав Олешко</h2>
                    <p class="g-font-size-18--sm">Одна из наших целей &ndash; создать продукт, легкий и удобный в работе.</p>
                </div>
            </div>

            <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md g-margin-t-80--xs">
                <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="static/img/team/dmitry.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8 g-hor-centered-row__col">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Web, Python-программист</p>
                    <h2 class="g-font-size-24--xs g-font-size-36--sm g-margin-b-25--xs">Дмитрий Кулаженко</h2>
                    <p class="g-font-size-18--sm">В нашем проекте были использованы только современные технологии.</p>
                </div>
            </div>

            <div class="row g-hor-centered-row--md g-row-col--5">
                <div class="col-sm-3 col-xs-6 col-sm-push-9 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="static/img/team/roma.png" alt="Image">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8 col-sm-pull-4 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Java-программист</p>
                    <h2 class="g-font-size-24--xs g-font-size-36--sm g-margin-b-25--xs">Роман Демидович</h2>
                    <p class="g-font-size-18--sm">Наш проект &ndash; это воплощение мечты рекламодателя о яркой и впечатляющей рекламе.</p>
                </div>
            </div>
        </div>


        <!-- Feedback Form -->
        <div class="g-position--relative g-bg-color--dark-light">
            <div class="g-container--md g-padding-y-80--xs g-padding-y-100--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <h2 class="text-none g-font-size-32--xs g-font-size-36--md g-color--white">Сообщите нам о Ваших идеях!</h2>
                </div>
                <div class="row g-row-col--5 g-margin-b-80--xs">
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                            <p class="g-color--white-opacity">dimkaxdx@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Адрес</h4>
                            <p class="g-color--white-opacity">Брест, Карла Маркса, 29</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Телефон</h4>
                            <p class="g-color--white-opacity">+ 375 (33) 344-14-14</p>
                        </div>
                    </div>
                </div>


                <form class="center-block g-width-500--sm g-width-550--md" enctype="multipart/form-data" method="post" action="">
                    {{form.hidden_tag()}}
                    <div class="g-margin-b-30--xs">
                        {{form.name(class_="form-control s-form-v3__input")}}
                    </div>
                    <div class="row g-row-col-5 g-margin-b-50--xs">
                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                            {{form.email(class_="form-control s-form-v3__input")}}
                        </div>
                        <div class="col-sm-6">
                            {{form.phone(class_="form-control s-form-v3__input")}}
                        </div>
                    </div>
                    <div class="g-margin-b-80--xs">
                        {{form.msg(class_="form-control s-form-v3__input")}}
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Отправить</button>
                    </div>
                </form>
            </div>
            <img class="s-mockup-v2" src="static/img/mockups/pencil-01.png" alt="Mockup Image">
        </div>
        <!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->

{% endblock %}
