{% extends "base.html" %}
{% block content %}
<!--========== PROMO BLOCK ==========-->
<div class="s-promo-block-v1 g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
    <div class="container g-ver-center--md g-padding-y-100--xs">
        <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
            <div class="col-lg-6 col-sm-6 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                <div class="s-promo-block-v1__square-effect g-margin-b-60--xs">
                    <h1 class="text-none g-font-size-32--xs g-font-size-45--sm g-font-size-50--lg g-color--white">Получите рекламу<br>за гранью возможного.</h1>
                </div>
                <span class="g-display-block--xs g-display-inline-block--lg g-margin-b-10--xs g-margin-b-10--lg">
                    <a href="/download/ugmi.apk" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-android"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-display-block--xs g-font-size-11--xs">Скачать</span>
                            <span class="g-font-size-16--xs">*.apk (ver. 1.3) </span>
                        </span>
                    </a>
                </span>
                <span class="g-padding-x-0--xs g-padding-x-10--lg">
                    <a href="/download" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-apple"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-display-block--xs g-font-size-11--xs">Скачать</span>
                            <span class="g-font-size-16--xs">В разработке</span>
                        </span>
                    </a>
                </span>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-sm-4 g-hor-centered-row__col">
                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                    <form class="center-block g-width-350--xs g-bg-color--white-opacity-lightest g-box-shadow__blueviolet-v1 g-padding-x-40--xs g-padding-y-60--xs g-radius--4" enctype="multipart/form-data" method="post" action="">
                        <div class="g-text-center--xs g-margin-b-40--xs">
                            <h2 class="g-font-size-26--xs g-color--white">Зарегистрироваться</h2>
                        </div>

                        {% if err %}
                            <div class="g-text-left--xs">
                                <h2 class="text-none g-font-size-15--xs g-color--red">Ошибка: {{err}}</h2>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="g-text-left--xs">
                                <h2 class="text-none g-font-size-15--xs g-color--white">{{success}}</h2>
                            </div>
                        {% endif %}
                        <div class="g-margin-b-30--xs">
                            <input type="email" name="email" class="form-control s-form-v3__input" placeholder="* E-Mail">
                        </div>
                        <div class="g-margin-b-30--xs">
                            <input type="text" name="username" class="form-control s-form-v3__input" placeholder="* Имя пользователя">
                        </div>
                        <div class="g-margin-b-30--xs">
                            <input type="password" name="password" class="form-control s-form-v3__input" placeholder="* Пароль">
                        </div>
                        <div class="g-text-center--xs">
                            <button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Отправить!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
{% endblock %}
