
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  margin: auto;
  width: 75%;
 }
.tbl-content{
  height:100%;
  overflow-x:auto;
  margin-top: 0px;
  margin: auto;
  width: 75%;
  border: 1px solid rgba(255,255,255,0.3);
}


tr.dmitrycpp:hover{
  background-color: hsla(187, 68%, 20%, 0.39);
  cursor: pointer;
}

table.nogap{
  border-collapse: collapse;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border-left: solid 1px rgba(255,255,255,0.1);
  border-right: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: linear-gradient(to top right, #e63ec1, #33a7f1);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

div.about_mark{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
